{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

    <div class="container">

        <h1>Modifier le mot de passe </h1>

        {{form_start(form)}}
        {{form_widget(form)}}

        <button type="submit" class="btn btn-primary mt-4">Enregistrer</button>
        <a href="{{path('account_home')}}" class="btn btn-warning mt-4">Retour</a>
        {{form_end(form)}}

    </div>
{% endblock %}