
{% extends 'base.html.twig' %}

{% block title %}Titre pour la page de profil{% endblock %}
{% block header %}

    <nav>Contenu du block header</nav>

{% endblock %}

{% block body %}

    <h1>{{title}}</h1>

    <h2> Profil de {{nom}}, votre accès est : {{acces}}</h2>

{% endblock %}

{#  Twig : moteur de template, maitrise du cache plus simple et un cache costaud, du coup l'affichage ( au niveau des requetes ) se fait beaucoup plus rapidement  #}