
{% extends 'base.html.twig' %}

{% block body %}

<main class="container ps-4"></main>
b
    <div class="jumbotron ps-4 pt-2 mt-3">
        <h1 class="h2">{{titre}}</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>

    <h3 class="h1 mt-4 mb-4 ps-4">Offres spéciales</h3>
    <section class="row ps-4">

        <article class="col-md-4">
            <div class="card mb-3">
                <h3 class="h4 card-header text-white bg-primary">3 chambres, <strong>50 &euro;</strong>/nuit</h3>
                <img style="height: 200px; width: 100%; display: block;" src="http://placeimg.com/640/480/people" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">Loft à Londres</h5>
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil cumque consequatur laborum optio deserunt ad aspernatur ut?</p>
                 <a href="#" class="btn btn-primary">+ d'infos</a>
                </div>
                <div class="card-footer text-muted">
                  Pas encore noté.
                </div>
            </div>

        </article>

        <article class="col-md-4">
            <div class="card mb-3">
                <h3 class="h4 card-header text-white bg-primary">2 chambres, <strong>150 &euro;</strong>/nuit</h3>
                <img style="height: 200px; width: 100%; display: block;" src="http://placeimg.com/640/480/architecture" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">Appartement Cannes</h5>
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil cumque consequatur laborum optio deserunt ad aspernatur ut?</p>
                 <a href="#" class="btn btn-primary">+ d'infos</a>
                </div>
                <div class="card-footer text-muted">
                  Pas encore noté.
                </div>
            </div>
        </article>

        <article class="col-md-4">
            <div class="card mb-3">
                <h3 class="h4 card-header text-white bg-primary">5 chambres, <strong>250 &euro;</strong>/nuit</h3>
                <img style="height: 200px; width: 100%; display: block;" src="http://placeimg.com/640/480/nature" alt="Card image">
                <div class="card-body">
                  <h5 class="card-title">Maison dans le Main</h5>
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil cumque consequatur laborum optio deserunt ad aspernatur ut?</p>
                 <a href="#" class="btn btn-primary">+ d'infos</a>
                </div>
                <div class="card-footer text-muted">
                  Pas encore noté.
                </div>
            </div>
        </article> 
    </section>


    <h3 class="h1 mt-4 ps-4 mb-4">Nos meilleurs annonceurs</h3>
    <section class="row ps-4">

        <article class="col-md-3">
            <div class="card mb-3">
                <h3 class="h4 card-header bg-warning">John Doe</h3>

                <div class="card-body">
                    <img src="http://placehold.it/64" alt="avatar de..." class="float-left mr-3">
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil cumque consequatur laborum optio deserunt ad aspernatur ut?</p>
                 <a href="#" class="btn btn-warning text-primary">+ d'infos</a>
                </div>
                </div>
        </article>

        <article class="col-md-3">
            <div class="card mb-3">
                <h3 class="h4 card-header bg-warning">John Doe</h3>

                <div class="card-body">
                    <img src="http://placehold.it/64" alt="avatar de..." class="float-left mr-3">
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil cumque consequatur laborum optio deserunt ad aspernatur ut?</p>
                 <a href="#" class="btn btn-warning text-primary">+ d'infos</a>
                </div>
                </div>
        </article>

        <article class="col-md-3">
            <div class="card mb-3">
                <h3 class="h4 card-header bg-warning">John Doe</h3>

                <div class="card-body">
                    <img src="http://placehold.it/64" alt="avatar de..." class="float-left mr-3">
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil cumque consequatur laborum optio deserunt ad aspernatur ut?</p>
                 <a href="#" class="btn btn-warning text-primary">+ d'infos</a>
                </div>
                </div>
        </article>

        <article class="col-md-3">
            <div class="card mb-3">
                <h3 class="h4 card-header bg-warning">John Doe</h3>

                <div class="card-body">
                    <img src="http://placehold.it/64" alt="avatar de..." class="float-left mr-3">
                 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil cumque consequatur laborum optio deserunt ad aspernatur ut?</p>
                 <a href="#" class="btn btn-warning text-primary">+ d'infos</a>
                </div>
                </div>
        </article> 
    </section>


</main>
    {% endblock %}