{% extends 'base.html.twig' %}

{% block title %}A place to sleep{% endblock %}

{% block body %}


<main class="container">
    <h1 class="mt-5 mb-5 text-center">{{controller_name}}</h1>
    <div class="row">

        {% for ad in ads %}

            {% include 'ad/_ad.html.twig'%}
        {% endfor %}    
    </div>


</main>
{% endblock %}
